@{
    ViewData["Title"] = "Home Page";
}

<div class="w3-card-4 w3-center" style="width:50%">
    <img  src="~/img/JoelHilton.jpg" style="width:100%"/>
    <div class="w3-container w3-center">
        <h2 class="text-center">Joel Hilton Film Collection</h2>
    </div>
</div>
